<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="main.css">
    <link rel="stylesheet" href="weather.css">
    <link rel="stylesheet" media="screen and (max-width: 900px)" href="mobile.css">

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.0.5/vue.min.js"></script>


    <title>Погода</title>
</head>
<body>
<div id="app">

    <div class="regular">
    <div class="regular_ring">
        º
    </div>

<div class="regular_temp">

    <div v-on:click="show = 1" :class="{'left_reg': activeTab !== 1, 'is-active': activeTab === 1}" @click="setActiveTab(1)" class="left_reg">
        <a >C</a>
    </div>
    <div v-on:click="show = 2" :class="{'right_reg': activeTab !== 2, 'is-active': activeTab === 2}" @click="setActiveTab(2)"  class="right_reg">
        <a>F</a>
    </div>
</div>

</div>

<div class="city">
<div id="location">

    <select size="1"  class="location" v-model="selected">
        <option v-for="option in options" v-bind:value="option.value">
         {{ option.text }}
        </option>
    </select>

<div class="change_city">Сменить город </div>

<div class="place">
    <div class="strelka">
        <img src="img/location.svg">
    </div>
    Мое местоположение</div>
</div>
</div>

<div class="weather">



            <div v-if="show==1" class="temp">
                {{ info_cel }}º
            </div>

            <div v-else class="temp small">
                {{ info_fal }}º
            </div>

            <div  v-for="discr in discipt.weather"
                  class="">
                <div class="descript">
                {{ discr.description }}
                </div>
                <div class="img">
                    <img v-if="discr.description=='ясно'" src="img/sun.svg"
                         alt="Солнце">
                    <img v-if="discr.description=='небольшой дождь'" src="img/rain.svg"
                         alt="Дождь">
                    <img v-if="discr.description=='дождь'" src="img/strom.svg"
                         alt="Шторм">
                    <img v-if="discr.description=='облачно с прояснениями'|| discr.description=='небольшая облачность'" src="img/partly%20cloudy.svg"
                         alt="Пасмурно">
                    <img v-if="discr.description=='пасмурно'" src="img/cloud.svg"
                         alt="Облачно">
                </div>
            </div>
</div>

<div class="blocks">
    <div class="block_1">
<p> Ветер </p>

        <div class="block_1_val text_block">
            {{ wind }} м/с
        </div>
    </div>


    <div class="block_2">
<p> Давление </p>
        <div class="block_2_val text_block">
            {{ dav }}  мм рт. ст.
        </div>
    </div>


    <div class="block_3">
<p> Влажность </p>
        <div class="block_3_val text_block">
            {{ vlaz }} %
        </div>
    </div>


    <div class="block_4">
        <p> Вероятность дождя </p>
        <div class="block_4_val text_block">
            {{ rain }} %
        </div>
    </div>
</div>

    <script src="weather_js.js"></script>

</div>


</body>
</html>