@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@font-face {
    font-family: Lato_my; /* Гарнитура шрифта */
    src: url(fonts/9622.ttf); /* Путь к файлу со шрифтом */
}

@font-face {
    font-family: Lato_reg; /* Гарнитура шрифта */
    src: url(fonts/Lato.ttf); /* Путь к файлу со шрифтом */
}


body{
    position: absolute;

    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;

    background: #498CEC;
}


.city {
    position: absolute;
    width: 579px;
    height: 97px;
    left: 99px;
    right: 75px;
    top: 75px;
    z-index: 10;
}

.city_active{
    left: 96px;
    top: 81px;
}

.location {
    position: absolute;
    cursor: pointer;
    font-family: Lato_my;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 60px;
    /* identical to box height */


    color: #FFFFFF;

    padding-right: 60px;
    margin-left: -5px;
    background: transparent;
    border: none;

}

#location{
    width: 500px;
}

.location option{

}

.input_active{
    padding-left: 32px;
    z-index: 101;
    width: 549px;
    height: 97px;
    border-radius: 8px;
    font-family: Lato_reg;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 36px;
    border: 0px;

    color: #000000;
}
.but_OK{
    z-index: 100;
    position: absolute;
    cursor: pointer;
    left: 516px;
    top: 31px;
    color: #1086FF;
    font-family: Lato_reg;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 36px;
}

.label_city{
    font-family: Lato_reg;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 60px;
    /* identical to box height */
    margin-left: -3px;

    color: #FFFFFF;
}

.change_city{
    position: absolute;
    width: 132px;

    font-family: Lato_my;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    top: 70px;


    color: #FFFFFF;

    mix-blend-mode: normal;
    opacity: 0.6;
}

.strelka{
    position: relative;
    float: left;
    width: 30px;
    height: 30px;
    margin-top: -3px;
}

.place {
    position: absolute;
    margin-left: 150px;
    width: 243px;
    height: 21px;
    font-family: Lato_my;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    top: 70px;
    /* identical to box height */


    color: #FFFFFF;

    mix-blend-mode: normal;
    opacity: 0.6;
}

.place p{
    float: left;
    width: 181px;
    margin-left: 4px;
    margin-top: 0;
}

.autocomplete-results {
    padding: 0;
    margin: 0;
    height: 120px;
    overflow: auto;
    width: 100%;
    background-color: #FFFFFF;

}

.autocomplete-result {
    list-style: none;
    text-align: left;
    padding: 4px 2px;
    cursor: pointer;
    font-family: Lato_my;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
}

.autocomplete-result.is-active,
.autocomplete-result:hover {
    color:#fff;
    background:#369;
}
