@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@font-face {
    font-family: Lato_my; /* Гарнитура шрифта */
    src: url(fonts/9622.ttf); /* Путь к файлу со шрифтом */
}

@font-face {
    font-family: Lato_reg; /* Гарнитура шрифта */
    src: url(fonts/Lato.ttf); /* Путь к файлу со шрифтом */
}

@font-face {
    font-family: PT_sans; /* Гарнитура шрифта */
    src: url(fonts/PTsans.ttf); /* Путь к файлу со шрифтом */
}


    body {
        background: #7290B9;
    }

    .city {
        left: calc(50% - 208px/2 - 62px);
        top: 19px;
        width: 75px;
        height: 36px;
        z-index: 0;
    }

    .city_active{
        top: 21px;
        left: calc(50% - 208px/2 - 64px);
    }

    .location {
        font-size: 30px;
        line-height: 36px;
        padding-right: 0px;
    }

    #location{
        width: 200px;
        }


.num__temp{
    font-size: 90px;
    line-height: 155px;
    font-family: Lato_my;
    width: 150px;
    height: 150px;
    margin-left: 16px;
}

.autocomplete-result {
    font-size: 15px;
    line-height: 18px;
    margin-top: 10px;
}

    .change_city{
        font-size: 15px;
        line-height: 18px;
        top: 53px;
    }

    .strelka{
        margin-top: -7px;
    }

    .place {
        font-size: 15px;
        line-height: 18px;
        top: 53px;
        margin-left: 133px;
    }

.input_active{
    width: 300px;
    height: 53px;
    font-size: 15px;
    line-height: 18px;
}

.but_OK{
    font-size: 15px;
    line-height: 18px;
    left: 269px;
    top: 20px;
}

.label_city{
    font-size: 30px;
    line-height: 36px;
}

    .weather{
        height: 220px;
        min-width: 269px;
        left: calc(50% - 208px/2 - 50px);
        top: calc(50% - 220px/2 - 56.5px);
    }

    .temp{

        position: relative;
        top: 45px;

    }

    .small{
        left: 65px;
        font-size: 82px;
    }

    .descript{
        font-family: Lato_my;
        font-size: 20px;
        width: 280px;
        margin-left: 15px;
        margin-top: -10px;
    }

    .blocks{
        min-width: 310px;
        height: 160px;
        top: calc(50% - 208px/2 + 250px);
        left: calc(50% - 208px/2 - 62px);
    }

    .block_1{
        left: 0px;
    }

    .block_2{
        left: 193px;
        width: 148px;
    }

    .block_3{
        top: 85px;
        left: 0px;
    }

    .block_4{
        left: 193px;
        top: 85px;
        width: 148px;
    }

    .text_block{
        font-size: 18px;
        line-height: 22px;
    }

    .blocks p{
        font-size: 15px;
        line-height: 18px;

        margin-bottom: 2px;


        color: #FFFFFF;

        mix-blend-mode: normal;
        opacity: 0.6;
    }

    .regular{
        top: 26px;
        left: calc(50% - 208px/2 + 175px);
    }

    .regular_ring{
        font-family: PT_sans;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 23px;
        margin-top: 3px;
        margin-left: -16px;
    }

    .regular_temp{
        font-family: Lato_reg;
    }


    .is-active{
        background: rgba(255, 255, 255, 0.2);
        opacity: 1;
    }





    .img {
        width: 100px;
        margin-left: 30px;
        margin-top: 20px;
    }
    .img img {
        width: 100px;
        height: 100px;
        margin-left: 12px;

    }